include src/water_benchmark_hub/VERSION
graft src/water_benchmark_hub/
exclude .*
global-exclude */__pycache__/*
global-exclude *.pyc
exclude DEVELOPERS.md
exclude REQUIREMENTS-DEV.txt
exclude Makefile
exclude make.bat
recursive-exclude webpage/ *
recursive-exclude examples/ *
recursive-exclude paper/ *
recursive-exclude docs/ *
recursive-exclude tests/ *
recursive-exclude .github/ *